*{
	box-sizing: border-box;
}
body{
	color:#666;
	/*font:300 15px/15px Roboto,Arial,Helvetica;*/
	background: #f3f3f5;
}
a{
	text-decoration: none;
	/*display: inline-block;*/
}
ul, li{
	list-style: none;
	margin: 0;
	padding: 0;
}
img{
	margin: 0;
	padding: 0;
}
.container{
	max-width: 100%;
	margin: 0 auto;
}
h1,h2,h3,h4{
	margin: 0;
	line-height: 1em;
}
h1{
	/*font:700 3.5vw Roboto,Arial,Helvetica;*/
	/*margin:0.25em 0;*/
	text-transform: uppercase;
}
h2{
	/*font:300 2.5em Roboto,Arial,Helvetica;*/
	margin:0.25em 0;
}
h3{
	/*font:300 2em Roboto,Arial,Helvetica;*/
}

h4{
	text-indent: 0.5em;
	/*font:300 1.5em Roboto,Arial,Helvetica;*/
	margin-bottom: 1em;
}
p{
	font-size:1em;
	line-height: 1.7em;
	margin-bottom: 1.7em;
}
.header_top{
	background-color: #282C34;
	margin: 0;
	padding: 0;
	height: 5px;
	line-height: 0;
}
.header_top img{
	width: 100%;
	height: 100%;
}
.header_logo{
	margin: auto 0;
	width: 17%;
}

.header_logo img{
	width: 70%;
	margin-left: 25px;
}
.header_content{
	padding: 1% 4%;
}
.header_content-inner{
	display: flex;
	justify-content: space-between;
}
.menu li{
	display: inline-block;
}
.menu a{
	color:#9A9A9A;
	font-size: 16px;
	line-height: 40px;
}
.menu a:hover{
	color:#2FB0CD;
}
.menu li + li{
	/*padding-left: 50px;*/
}

.clean{
	clear: both; 
}
.posts{
	padding: 20px;
	display: block;
}
/************* Footer ************/

 #colophon{
	background: #e2e1e3;
	/*padding-left: 100px;*/
	font-size: 14px;
	line-height: 1.3em;
	color: #3d3c3b;
	font-family: 'robotocondensed-light', sans-serif;
}

.site-footer a {
	color: #3d3c3b;
	text-decoration: underline;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'robotocondensed-light', sans-serif;
}


html, body, div{
	font-family: 'robotocondensed-light', sans-serif;
	color: #010101;
}

.header_top{
	padding: 25px 20px;
	text-align: center;
	background: #f3f3f5;
	height: auto;
}

.header_top a {
	color: #1c1c1b;
	text-decoration: none;
	display: inline-block;
	padding-right: 6px;
}
.menu{
	text-transform: uppercase ;
}

.header_content {
	background: #ffffff;
	border-top: 1px solid #e6e6e8;
	border-bottom: 1px solid #e6e6e8;
	text-align: center;
}

.header-menu {
	padding: 35px 0;
}
.space-between{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.menu-primary li a {
	color: #3d3c3b;
	text-decoration: none;
	padding: 0 16px 0 10px;
	background: url(../img/menu_sep.png) no-repeat center right;
}
.menu-primary li{
	display: inline-block;
	font-size: 1.4em;
	color: #3d3c3b;
	line-height: 1.3em;
	font-weight: normal;
	font-family: 'robotocondensed-light', sans-serif;
	text-transform: uppercase;
}

.film article, .home article{
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
	margin-bottom: 30px;
	background: #ffffff;
	padding: 15px;
	height: 95%;
}

.film article h2 a, .home article h2 a {
	color: #4e4539;
	text-decoration: none;
}

.film article h2, .home article h2 {
	font-family: 'robotocondensed-bold', sans-serif;
	font-size: 14px;
	color: #4e4539;
	line-height: 1.2em;
	text-transform: uppercase;
}

.film, .home{
	margin-top: 20px;
}
/* Page Film */
.single h1 {
	font-size: 3em;
	color: #ffffff;
	line-height: 4em;
	font-family: 'robotocondensed-bold', sans-serif;
	margin-bottom: 30px;
	text-align: center;
}

.container-title{
	background: url(../img/non_poster_img.jpg) 100% 100% no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	padding: 25px;
}

@media screen and (min-width: 1400px){
	.container-title {
		padding-left: 260px;
		justify-content: left;
	}
}
@media screen and (max-width: 1400px){
	.container-title {
		justify-content: center;
	}
}

.cover-img{
	margin-right: 60px;
	max-width: 190px;
}

.cover-img img{

}







